body {
  background-color: #2276d2;
  text-align:center;
}

p, h1, h2, h3, h4, h5, h6, footer {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  margin: 10px 0;
}

footer {
  font-size: 10px;
  font-weight: 400;
}
article {
  margin: 0 17.5%;
}
